<nav class="navbar">
	<div class="container-fluid">
    <ul class="nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Stock App', root_path, class: "avbar-brand nav-link top-link" %>
      </li>
    </ul>
    <ul class="nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'ログイン', user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to 'Link', root_path, class: "dropdown-item" %>
          <%= link_to 'Link', root_path, class: "dropdown-item" %>
          <%= link_to 'Link', root_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
	</div>
</nav>