<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:700,400">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= render 'layouts/header' %>
    </header>
    <%= yield %>
  </body>
  <footer class="footer">
    <%= render 'layouts/footer' %>
  </footer>

</html>
